@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: #f2f4fc;
  max-width: 1200px;
  /*centrer le contenu de la page*/
}

body {
  margin: 1em 2em;
  /*justify-content: center;*/
  /*a verifier*/
}

ul {
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #292e47;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  color: #292e47;
  font-weight: normal;
  margin-bottom: 15px;
  color: #292e47;
}

p {
  font-size: 16px;
}

header,
section {
  margin-bottom: 150px !important;
}
/*.container {
  margin: 20px auto;
  padding-bottom: 10px;
  width: 80%;
}*/

.titleh2 {
  /*mettre titre au dessus des box*/
  margin-bottom: 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

ul {
  display: flex;
  gap: 20px;
}

/* *** BURGER MENU *** */

.nav-toggle {
  display: none;
}

/* Style de base du label (hamburger) */
.nav-toggle-label {
  display: none; /* Par défaut, caché sur les grands écrans */
  cursor: pointer;
  width: 1.5rem;
  position: relative;
}

/* Les trois lignes de l'icône */
.nav-toggle-label span {
  background-color: #6b708d; /* Changer la couleur si nécessaire */
  height: 3px;
  width: 100%;
  display: block;
  transition: 0.3s;
}

/* Position initiale des lignes */
.nav-toggle-label span:nth-child(1) {
  top: 0.4rem;
}
.nav-toggle-label span:nth-child(2) {
  top: 0.9rem;
}
.nav-toggle-label span:nth-child(3) {
  top: 1.4rem;
}

.nav-bar-item {
  text-decoration: none;
  color: #072ac8;
  font-weight: bold;
}

.contact-btn {
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 10px;
  background-color: #072ac8;
}

.header-container {
}

.header-paragraph {
  text-align: left;
} /*utile?*/

/*.hero-paragraph{
  display: flex;
  flex-wrap: wrap;
}*/

.hero-image {
  width: 100%;
}

.header-btn {
  background-color: #072ac8;
  color: white;
  font-weight: normal;
  padding: 15px;
  margin: 30px auto 0px;
  text-decoration: none;
}

.header-btn2 {
  text-decoration: none;
  color: #6b708d;
  font-weight: bold;
}

.projects-img {
  width: 100%;
  width: 300px;
  height: 200px;
}

.logo-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  justify-content: space-around;
  margin: 0px 0px 150px;
}

.logo {
  /*mettre l'image en noir et blanc*/
  filter: grayscale(100%);
}

.logo:hover {
  filter: grayscale(0%);
  /*faire apparaitre la couleur de l'image*/
}

.link-btn {
  text-decoration: none;
  color: #072ac8;
  font-weight: bold;
  padding: 20px 0px;
}

.dark-background {
  background-color: #292e47;
  background-image: url("./orbit.png");
  background-size: cover;
  text-align: center;
  padding: 90px 20px;
}

.dark-testimony {
  color: white;
}

.dark-quote {
  color: #ffc600;
  font-weight: bold;
  padding: 2rem 0;
}

.profile-img {
  width: 15%;
  max-width: 3em;
  height: 3em;
  border-radius: 200px;
}

.quote-name {
  color: #a2d6f9;
}

.dark-website {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2em;
  padding: 20px 20px 20px 20px;
  max-width: 1200px; /*supp?*/
  margin: 0 auto;
}

.card {
  overflow: hidden;
  text-align: left;
  background-color: white;
}

/*pour avoir une marge pour le texte mais pas pour l'image ?*/
.inner-card {
  margin: 20px 20px;
}

.card:hover,
.card2:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card2 {
  width: 300px;
  height: 350px;

  overflow: hidden;
  text-align: left;
  padding: 30px 15px;
  background-color: white;
}

#services img {
  background-color: #d1edff;
  padding: 13px;
  border-radius: 50px;
  margin-bottom: 2em;
}

.yellow-background {
  background-color: #ffc600;
  text-align: center;
  padding: 90px 0px 20px 0px;
}

.mail-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

.mail-form-btn {
  width: 100px;
  height: 50px;
  cursor: pointer;
  color: white;
  padding: 15px;
  border: none;
  gap: 1em;
  background-color: #072ac8;
}

.footer-list {
  display: flex;
  justify-content: right;
  gap: 20px;
}

/*contact form page*/

.contact-title {
  padding-top: 70px;
}

.contact-form-container {
  justify-content: center;
  line-height: 2.5;
  color: rgb(82, 80, 80);
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  text-align: left;
  gap: 2em;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.6rem;
  /*border: 1px solid #ccc;*/s
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  background-color: #6b708d1a;
}

/*projects page*/

.simplify-page-image{
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 50px;;
  margin-bottom: 30px;
}



@media (min-width: 768px) {
  .hero-image {
    width: 40%;
  }
}

/* Style pour les petits écrans */
@media (max-width: 760px) {
  .nav-toggle-label {
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav-bar-ul {
    display: none;
    position: right;
    top: 0;
    left: 0;
    width: 35%;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-end;
    background-color: #e2e5f0;
    gap: 0.5rem;
  }
  /* Afficher le menu lorsque le checkbox est coché */
  #nav-toggle:checked + .nav-toggle-label + .nav-bar-ul {
    display: flex;
  }

  .nav-bar-item {
    width: 100%;
    display: inline-block;
    text-align: center;
  }
}
/* ***fin burger menu*** */
