@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  margin: 0 auto;
}

html,
body {
  background-color: #f2f4fc;
  max-width: 1200px;
}

body {
  margin: 1em 2em;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #292e47;
}

h2 {
  font-size: 32px;
  color: #292e47;
}

h3 {
  font-size: 20px;
  color: #292e47;
  font-weight: normal;
  margin-bottom: 15px;
  color: #292e47;
}

h4 {
  color: #292e47;
}

p {
  font-size: 16px;
}

header,
section {
  margin-bottom: 120px !important;
}

.titleh2 {
  margin-bottom: 40px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

ul {
  display: flex;
  gap: 20px;
}

/* *** BURGER MENU *** */

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none; /* by default, hidden on big screens */
  cursor: pointer;
  width: 1.5rem;
  position: relative;
}

/* 3 lines of the icon */
.nav-toggle-label span {
  background-color: #6b708d;
  height: 3px;
  width: 100%;
  display: block;
  transition: 0.3s;
}

/* Position initiale des lignes */
.nav-toggle-label span:nth-child(1) {
  top: 0.4rem;
}
.nav-toggle-label span:nth-child(2) {
  top: 0.9rem;
}
.nav-toggle-label span:nth-child(3) {
  top: 1.4rem;
}

.nav-bar-item {
  text-decoration: none;
  color: #072ac8;
  font-weight: bold;
}

.contact-btn {
  text-decoration: none;
  color: white;
  padding: 15px;
  margin: 10px;
  background-color: #072ac8;
}

.hero-text {
  margin-bottom: 40px;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hero-image {
  width: 100%;
}

.header-btn {
  background-color: #072ac8;
  color: white;
  font-weight: normal;
  padding: 15px;
  margin: 30px 30px 0px 0px;
  text-decoration: none;
}

.header-btn2 {
  text-decoration: none;
  color: #6b708d;
  font-weight: bold;
}

.projects-img {
  width: 100%;
  width: 300px;
  height: 200px;
}

.logo-box {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  justify-content: space-around;
  margin: 0px 0px 150px;
}

.logo {
  filter: grayscale(100%);
}

.logo:hover {
  filter: grayscale(0%);
}

.link-btn {
  text-decoration: none;
  color: #072ac8;
  font-weight: bold;
  padding: 20px 0px;
}

.dark-background {
  background-color: #292e47;
  background-image: url("./orbit.png");
  background-size: cover;
  text-align: center;
  padding: 90px 20px;
}

.dark-testimony {
  color: white;
}

.dark-quote {
  color: #ffc600;
  font-weight: normal;
  font-size: 1.3em;
  padding: 2rem 0;
  line-height: 1.7;
  margin-top: 40px;
}

.profile-img {
  width: 15%;
  max-width: 3em;
  height: 3em;
  border-radius: 200px;
}

.quote-name {
  color: #a2d6f9;
}

.dark-website {
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2em;
  padding: 20px 20px 20px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  overflow: hidden;
  text-align: left;
  background-color: white;
}

.inner-card {
  margin: 20px 20px;
}

.card:hover,
.card2:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card2 {
  width: 300px;
  height: 300px;

  overflow: hidden;
  text-align: left;
  padding: 30px 15px;
  background-color: white;
}

.card2 div {
  background-color: #d1edff;
  border-radius: 50%;
  padding: 10px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.container p {
  margin-top: 20px;
  margin-bottom: 25px;
}

#services img {
  width: 80%;
}

.yellow-background {
  background-color: #ffc600;
  text-align: center;
  padding: 90px 0px 20px 0px;
  box-shadow: #d37802 2px 2px 10px;
}

.mail-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
}

#e-mail-input {
  background-color: white;
  height: 50px;
  border: none;
  width: 20em;
  margin-top: 20px;
}

.mail-form-btn {
  margin-top: 20px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  color: white;
  padding: 15px;
  border: none;
  gap: 1em;
  background-color: #072ac8;
}

.mail-form-btn:hover {
  box-shadow: 3px 5px 5px rgba(14, 1, 87, 0.5);
  transform: scale(1.05);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
}

.footer-list {
  width: 50%;
}

.footer-list ul:nth-child(1) {
  margin-bottom: 50px;
}

.footer-ul {
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: flex-end;
}

.footer-ul a {
  text-decoration: none;
  color: #6b708d;
}

.footer-ul a:hover {
  color: #072ac8;
  font-size: 1.1em;
}

.footer-ul li {
  width: 100px;
}

.contact-footer {
  padding: 0;
}

.address {
  margin-top: 20px;
  line-height: 1.7;
  color: #292e47;
}

/*contact form page*/

.contact-title {
  padding-top: 70px;
}

.contact-form-container {
  justify-content: center;
  line-height: 2.5;
  color: rgb(94, 91, 91);
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  text-align: left;
  gap: 2em;
}

input {
  height: 50px;
}

input,
textarea {
  width: 100%;

  max-width: 100%;
  padding: 0.6rem;
  /*border: 1px solid #ccc;*/
  border-radius: 4px;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: #8f95b836;
}

.contactpage-submit {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  cursor: pointer;
  color: white;
  padding: 15px;
  border: none;
  gap: 1em;
  background-color: #072ac8;
}

.contactpage-submit:hover {
  box-shadow: 3px 5px 5px rgba(14, 1, 87, 0.5);
  transform: scale(1.05);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/*projects page*/

.right-side-p {
  text-align: right;
}

.simplify-page-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(74, 2, 83, 0.5);
}

@media (min-width: 768px) {
  .hero-image {
    width: 70%;
    margin-left: 30px;
    justify-content: space-between;
  }

  .header-container {
    flex-direction: row;
  }

  .relative {
    position: relative;
  }

  .mini-card {
    position: absolute;
    width: 45%;
  }

  .mini-card-1 {
    top: 0;
    left: -40px;
  }

  .mini-card-2 {
    bottom: -100px;
    right: 100px;
  }

  .emojis {
    position: absolute;
    width: 90px;
    height: 90px;
  }

  /*.emojis:hover {
    transform: rotate(-45deg);
  }*/

  .emoji1 {
    top: 30px;
    left: 50px;
  }

  .emoji2 {
    top: 30px;
    right: 50px;
  }

  .emoji3 {
    bottom: 30px;
    left: 50px;
  }

  .emoji4 {
    bottom: 30px;
    right: 50px;
  }
}

/* small screens only */
@media (max-width: 760px) {
  .nav-toggle-label {
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav-bar-ul {
    display: none;
    position: right;
    top: 0;
    left: 0;
    width: 20%;
    padding: 10px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #e2e5f0;
    gap: 0.5rem;
  }

  .contact-btn {
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 0;
    background-color: #072ac8;
  }

  #nav-toggle:checked + .nav-toggle-label + .nav-bar-ul {
    display: flex;
  }

  .nav-bar-item {
    width: 100%;
    display: inline-block;
    text-align: center;
  }

  .emojis,
  .mini-card {
    display: none;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
}
